/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

body {
  background-color: #f5f5f5;
}

#card-container {
  width: 21rem; 
  height: auto;
  margin-bottom: 24px;
  margin-right: 3px;
  margin-left: 3px;
}

#contact-button {
    margin-left: 50px;
    padding: 10px 10px 10px 10px;
}

// begin new_user_registration view
.signin-body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#graph {
  background-color: #f9f9f9;
  width: 27rem; 
  height: 19rem;
  padding: 5px;
  margin: 5px;
}

// end new_user_registration view

/*
.container {
    background: white;
    background-size: cover;
    height: cover;
    padding-bottom: 10px;
 }

body {
    background: url('weedground.jpg');
    background-size: auto;
    height: auto;
 }
 
*/